@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
}


<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7">
				<div class="wrap">
					<div class="login-wrap p-4 p-md-5">
						<div>
							<div class="w-100">
                                <h3 class="mb-4">Two-factor authentication</h3>
                                <p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
							</div>

                            <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                                <input asp-for="RememberMe" type="hidden" />
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-floating mb-1">
                                    <label asp-for="Input.TwoFactorCode" class="form-label"></label>
                                    <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" style="cursor:pointer;" />
                                    <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>

                                    <label asp-for="Input.RememberMachine" class="form-label">
                                        <input asp-for="Input.RememberMachine" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMachine)
                                    </label>

                                </div>
                                <div class="checkbox mb-3">

                                </div>
                                <div>
                                    <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                                </div>
                            </form>

                            <p>
                                Don't have access to your authenticator device? You can
                                <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in with a recovery code</a>.
                            </p>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}